body{
    background-color: #7743DB;
    margin: auto;
}
header{
    display: block;
    background-color: #3B3486;
    padding: 16px;
    height: auto;
    justify-content: center;
}
.header{
    flex-wrap: nowrap;
    vertical-align: middle;
    justify-content: space-between;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}
.list{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 300px;
    padding-left: 0;
    display: flex;
    flex: 1;
    list-style: none;
    flex: 0 0 auto;
    float: left;
    align-items: center;
}
.textheader{
    padding: 8px;
    height: 16px;
    font-size: 20px;
    font-weight: 100;
    text-decoration: none;
    transition: opacity 0.2s linear;
    justify-content: center;
    color: white;
    display: flex;
    align-items: center;
}
.textheader:hover{
    opacity: 0.5;
}
.searchpull{
    background-color: #3B3486;
    margin-right: 16px;
    float: left;
    border: 1px solid #f8f9fa;
    border-radius: 10px;
    height: 40px;
    width: 100%; 
}
.text-end{
    display: flex;
    text-align: right;
    box-sizing: border-box;
    
}

#reg_redirect {
    display: flex;
    text-align: right;
    box-sizing: border-box;
}
.btnlogin{
    padding: 6px 12px 6px 12px;
    background-color: #3B3486;
    color: #f8f9fa;
    font-size: 1rem;
    white-space: nowrap;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #f8f9fa;
    cursor: pointer;

}
.btnlogin:active{
    background-color: #f8f9fa;
    color: #3B3486;
}
.btnsign{
    padding: 6px 12px 6px 12px;
    background-color: #ffc107;
    color: #3B3486;
    font-size: 1rem;
    white-space: nowrap;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #3B3486;
    cursor: pointer;
}
.btnsign:active{
    background-color: #ffcd37;
}
.columns{
    column-count: 1;
    padding-top: 15px;
}
.sidebar{
    height: 100%;
    width: 200px;
    background-color: #3B3486;
    position: fixed!important;
    z-index: 1;
    overflow: auto;

}
.btnclose{
    padding: 6px 12px 6px 12px;
    background-color: #3B3486;
    color: #f8f9fa;
    font-size: 1rem;
    white-space: nowrap;
    margin: 0 auto 20px;
    margin-top: 16px;
    display: flex;
    border-radius: 10px;
    border: 1px solid #f8f9fa;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 40px;
}
table, th, td {
    border: 1px solid;
  }
.table {
    width: 80%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid;
    margin: 0 auto;
    margin-top: 16px;
}
.btnaddrow{
    padding: 6px 12px 6px 12px;
    background-color: #ffc107;
    color: #3B3486;
    font-size: 1rem;
    white-space: nowrap;
    margin: 20px 20px 0 90vw;
    border-radius: 10px;
    border: 1px solid #3B3486;
    cursor: pointer;
    display: block;
}
.try{
    display: block;
    margin: 0 0 0 auto;
}
.responsetext{
    position: relative;
    width: 775px;
    height: 400px;
    left: 12px;
    padding: 0;
    margin: 0;
    border: 0;
}
.btnresponse{
    display: block;
    width: 100px;
    height: 30px;
    margin: 0 0 5vh 90vw;
}
.btnresponseClose{
    display: block;
    width: 100px;
    height: 30px;
    margin: 0;
    margin-bottom: 5px;
    position: relative;
    top: 90%;
    left: 85%;
    top: 1px;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 4;
}
.blur{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    display: none;
    background-color: #fff;
    z-index: 1;
    opacity: 0.7;
}
.popup{
    position: absolute;
    width: 800px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    background-color: #3B3486;
    color: #fff;
}

canvas {
    border-radius: 30px;
    background-color: #3B3486;
    margin: 50px auto;
    width: 60%;
    max-width: 1300px;
}

.ParanormalD{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-transform: capitalize;

    color: #FFFFFF;
}

#openNav {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
}

#logo {
    scale: 0.35;
}

#tabulator-header{
    color: #3B3486;
}
.tabulator-header{
    color: #3B3486;
}
